 .btn_black::after {
  background: #1c93e5;
}

.btn-fill {
  background-color: #1c93e5;
  border: 1px solid #1c93e5;
}
.title-style .fa {
  color: #1c93e5;
}
.navbar-default {
  background-color: #136B97;
}
.home-content h2 span {
  color:white;
  /*color: #136B97;*/
}
.home-content p {
    color:white;
  /*color: #136B97;*/
}
.home .button .btn {
  /*background-color: #136B97;
  border-color: #136B97;*/
  background-color:transparent;
  border-color:transparent;
}
.home .button .btn:hover {
  background-color: transparent;
  border-color: transparent;
  transition:none;
  /*background-color: #136B97;
  border-color: #fff;*/
}

.button .btn:hover {
  background-color: #1c93e5;
  border-color: #1c93e5;
}
.service-post {
  outline: 1px solid #1c93e5;
}
.service-post .fa {
  color: #1c93e5;
}
.service-post h3 {
  color: #1c93e5;
}
.service-post .btn {
  border: 1px solid #1c93e5;
  color: #1c93e5;
}
.service-post .btn:hover {
  background-color: #1c93e5;
}
.service-post:hover {
  border-color: #1c93e5;
}
.feature-item .feature-icon .icon-border {
  border: 1px solid #1c93e5;
}
.feature-item .feature-icon .icon-border-2 {
  border: 1px solid #1c93e5;
  background-color: #1c93e5;
}

.feature-item:hover .feature-icon .icon-border {
  background-color: #1c93e5;
}
.feature-item:hover .feature-icon .icon-border-2 {
  border: 1px solid #1c93e5;
}
.social-icon ul li a .fa {
  border: 1px solid #1c93e5;
  background-color: #f8f8f8;
  color: #1c93e5;
}
.social-icon ul li a .fa:hover {
  background-color: #1c93e5;
}
.what-we-do .progress-bar {
  background-color: #1c93e5;
}
.screenshots figure:hover {
  border: 5px solid #1c93e5;
}
.screenshots figcaption i:hover {
  background-color: #1c93e5;
}
.portfolio-nav ul li.active,
.portfolio-nav ul li:hover {
  border: 1px solid #1c93e5;
  color: #1c93e5;
}
.member {
  -webkit-box-shadow: 0 0 0 1px #1c93e5;
  -moz-box-shadow: 0 0 0 1px #1c93e5;
  -o-box-shadow: 0 0 0 1px #1c93e5;
  -ms-box-shadow: 0 0 0 1px #1c93e5;
  box-shadow: 0 0 0 1px #1c93e5;
}
.member:hover {
  border: 5px solid #1c93e5;
}
.blog-img p span {
  background-color: #1c93e5;
}
.post-content .like-comment a {
  color: #1c93e5;
}

.post-content .btn {
  color: #1c93e5;
  border: 1px solid #1c93e5;
}
.post-content .btn:hover {
  background-color: #1c93e5;
}
.price-item {
  outline: 1px solid #1c93e5;
}
.price-item .tag-name {
  background: #1c93e5;
}
.price-item .btn {
  border: 1px solid #1c93e5;
  color: #1c93e5;
}
.price-item .btn:hover {
  background-color: #1c93e5;
}
.price-item:hover {
  border: 5px solid #1c93e5;
}
.single-form .form-control:focus::-webkit-input-placeholder {
  color: #1c93e5 !important;
}
.single-form .form-control:focus:-moz-placeholder {
  color: #1c93e5 !important;
}
.single-form .form-control:focus::-moz-placeholder {
  color: #1c93e5 !important;
}
.single-form .form-control:focus:-ms-input-placeholder {
  color: #1c93e5 !important;
}
.single-form .form-control:active,
.single-form .form-control:focus {
  border-color: #1c93e5;
}
.single-form .btn {
  border: 1px solid #1c93e5;
  color: #1c93e5;
}
.single-form .btn:hover {
  color: #ffffff;
}
.footer h3 strong {
  color: #1c93e5;
}
.footer-bottom {
  background: #322f33;
  /*background-color: #1c93e5;*/
}
.user-info a {
  border: 1px solid #1c93e5;
  color: #1c93e5;
}
.disabled {
    color: #1c93e5;
    border: 1px solid #1c93e5;
}
.disabled:hover {
    color: #ffffff;
}