/* ==========================================================================
Screenshots
========================================================================== */
.screenshots ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.screenshots ul li {
    float: left;
    list-style: none;

}
.screenshots figure {
    position: relative;
    overflow: hidden;
    margin: 6px 0px;
    border: 5px solid transparent;
        
}
.screenshots figure:hover {
border: 5px solid #1c93e5;
        
}
.screenshots figure img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.screenshots figure:hover img, .screenshots figure:focus img {

}
.screenshots figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25% 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 97, 132, 0.50);
    text-align: center;
    font-size: 15px;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.screenshots figcaption a {
    color: #fff;
    display: inline-block;
}
.screenshots figcaption a:hover, .screenshots figcaption a:focus {
    color: #73d0da;
}
.screenshots figure:hover figcaption, .screenshots figure:focus figcaption {
    opacity: 1;
}
.visible {
    opacity: 1;
}
.screenshots figure.cs-hover figcaption {
    opacity: 1;
}
.screenshots figcaption i {
    font-size: 24px;
    line-height: 37px;
    margin: 0 5px;
    padding: 5px 14px;
}
.screenshots figcaption i:hover {
    padding: 5px 14px;
    margin: 0 5px;
    background-color: #1c93e5;
    opacity: 1;
    color: #fff;
}
.screenshots figcaption p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
}
.screenshots figcaption .caption-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -100px;
    width: 200px;
    -webkit-transform: translate(0px, 15px);
    -ms-transform: translate(0px, 15px);
    transform: translate(0px, 15px);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.screenshots figure:hover figcaption .caption-content, .screenshots figure:focus figcaption .caption-content {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
.fancybox-image {
    padding: 30px;
}

.portfolio-nav ul {
  margin-bottom: 50px;
  text-align: center;
}
.portfolio-nav ul li {
  list-style-type: none;
  display: inline;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  opacity: 0.8;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid transparent;
}
.portfolio-nav ul li:hover {
  border: 1px solid #1c93e5;
  color: #1c93e5;
}
.portfolio-nav ul li.active {
  border: 1px solid #1c93e5;
  color:  #1c93e5;
}
#portfolio-item {
  min-height: 540px;
}
.mix {
  display: none;
}
.fancybox-overlay {
  background-color: rgba(25, 22, 22, 0.69);
}