@media only screen and (max-width: 1024px) {
  .navbar-default .navbar-nav li:last-child {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block !important;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-right {
    display: block;
    float: none !important;
    text-align: center;
    margin-top: 40px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar-brand {
    margin-top: 0px;
    overflow: hidden;
    padding-bottom: 70px;
    padding-top: 0px;

  }
  .collapse {
    display: none;
  }
  .navbar-default .navbar-nav li {
    margin: auto 5px;
  }
  .home .color-overlay {
    /*padding: 150px 0;*/
  }
  .home-content p {
    padding: 0 100px;
  }
  .service-post {
    margin-bottom: 40px;
  }
  .service-post .btn {
    width: 120px;
  }
  .feature-item {
    margin: 0 auto;
    text-align: center;
  }
  .feature-item .feature-icon {
    margin: 0 auto;
    text-align: center;
    float: none;
  }
  .feature-item .icon-border {
    left: 0;
    right: 0;
    top: 0px !important;
    text-align: center;
  }
  .what-we-do .section-title h2 {
    text-align: center;
  }
  .what-we-do .what-do-content {
    margin: 0 auto;
    text-align: left;
  }
  .member {
    margin-bottom: 80px;
  }
  .member .social-icon ul li a .fa {
    height: 40px;
    width: 40px;
    background-color: #f8f8f8;
    line-height: 40px;
  }
  .blog-img img {
    margin: 0 auto;
    text-align: center;
  }
  .price-item {
    margin-bottom: 30px;
  }
  .client img {
    margin: 0 auto;
    text-align: center;
  }
  .share-idea {
    padding: 0px;
  }
  .contact {
    margin-top: 50px;
  }
  .contact-icon {
    float: none;
    margin: 0 auto;
  }
  .address-details {
    padding-left: 0px;
    margin: 0 auto;
    float: none;
    text-align: center;
    margin-top: 30px;
  }
  .full-blog-post .color-overlay {
    padding: 100px 0;
  }
}
@media only screen and (max-width: 767px) {
  .feature-item h3 {
    margin-top: 20px;
  }
  .service-post .btn {
    width: 200px;
  }
  .post .post-content {
    text-align: center;
    padding: 0px 30px;
  }
  .navbar-default {
    padding: 10px 0;
    z-index: 99;
  }
  .skills {
    margin-top: 40px;
  }
  .feature img {
    /*display: none;*/
  }
  .section-title {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .navbar-nav {
    margin-top: 30px;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-toggle {
    border-color: #fff;
  }
  .navbar-default .navbar-nav li a {
    text-align: center;
    margin-top: 10px;
  }
 .navbar-toggle {
    margin-top: 15px;
  }
  .container-half {
    width: 100%;
  }
  .cover-bg {
    background-color: #fff;
    background-image: inherit;
  }
  .footer-coloer-overlay {
    background: #fff;
    position: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .about-us {
    color: #000;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
  }
    .about-us .fa {
        font-size: 50px;
        color: #337ab7;
    }
  .contact-icon {
    border: 1px solid #000;
  }
  .container-half-right {
    background-color: #f8f8f8;
  }
  .btn-form {
    text-align: center;
  }
  .about-us .section-title h2 {
    text-align: center;
  }
  .section-separator {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 480px) {
  .button .btn {
    margin-bottom: 30px;
  }
  .home-content p {
    padding: 0 50px;
  }
  .footer-top {
    padding: 0 10px;
  }
  h2 {
    font-size: 36px;
    line-height: 40px;
  }

}
