/*------------- 
[Table of contents]

[ DEFULT INDEX NUMBER ]

1. DEFULT CSS
2. GENERAL CSS
3. NAVBAR
4. HOME
5. SERVICE
6. FEATURE
7. WHAT WE DO
8. PORTFOLIO
9. TEAM
10. BLOG
11. PRICING
12. CONTACT
13. FOOTER


-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[ Color codes ]
    
    [ Text and Background Color ]
        Main color 1:       #1c93e5     
        Main color 2:       #009688      
        Main color 3:       #9c27b0
        Main color 4:       #ff4081      
        Background 1:       #FFFFFF            
        Background 2:       #FFFFFF            
        Shadow color:       #000000;            

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Typography]

    [ There are using two different font typography ]
        Typography 1: Open Sans font;
        Typography 2: Montserrat font;

    [ Other Typography style are same ]
    Body :
        font-style:     normal;
        font-size:      15px;

    h2:
        font-size: 48px;
        line-height: 55px;

    h3:
        font-size: 30px;
        line-height: 40px;

    h4:
        font-size: 20px;
        font-weight: 600;

    p:  
        font-size: 18px;
        line-height: 30px;


-------------------------------------------------------------------*/
/*
|
| DEFULT CSS
|
*/
.fixed-bg {
  background-attachment: fixed;
}
.section-separator {
  padding: 70px 0;
}
.disabled {
  color: #1c93e5;
  border: 1px solid #1c93e5;
}
.disabled:hover {
  border-color: transparent;
  color: #ffffff;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active:focus,
.btn:active:focus,
.btn:focus {
  outline-color: transparent;
  outline-offset: 0px;
}
.btn {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-family: Roboto Slab, 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 6px 20px;
  width: 200px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  margin: 0 15px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
}
.btn:hover {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn::after {
  position: absolute;
  content: '';
  z-index: -1;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn:hover::after,
.btn:active::after {
  width: 100%;
}
.btn_black {
  color: #fff;
}
.btn_black::after {
  background: #1c93e5;
}
.btn_black:hover {
  color: #ffffff;
}
.btn-fill {
  background-color: #1c93e5;
  border: 1px solid #1c93e5;
  opacity: 0.8;
}
.section-title {
  margin: 0 auto;
  margin-bottom: 80px;
}
.section-title h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.white {
  background-color: #ffffff;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
.title-style {
  text-align: center;
  width: 200px;
  margin: 0 auto;
}
.title-style .fa {
  font-size: 40px;
  line-height: 20px;
  color: #1c93e5;
}
.title-style .left-line {
  float: left;
  background: #000000;
  height: 2px;
  text-align: center;
  width: 80px;
  margin-top: 10px;
}
.title-style .right-line {
  float: right;
  background: #000000;
  height: 2px;
  text-align: center;
  width: 80px;
  margin-top: 10px;
}
/*
|
| GENERAL CSS
|
*/
body {
  font-family: Roboto Slab, 'Open Sans', sans-serif;
  background-color: #f8f8f8;
}
h2 {
  font-family: Roboto Slab, 'Montserrat', sans-serif;
  font-size: 48px;
  line-height: 55px;
}
h3 {
  font-family: Roboto Slab, 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 40px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
p {
  font-family: Roboto Slab, 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
  text-align: justify;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}
.status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.loader {
  position: relative;
  margin: 0px auto;
  width: 70px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@-moz-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #fc5f45;
  }
  40% {
    stroke: #b27cf5;
  }
  66% {
    stroke: #38c695;
  }
  80%,
  90% {
    stroke: #feb960;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #fc5f45;
  }
  40% {
    stroke: #b27cf5;
  }
  66% {
    stroke: #38c695;
  }
  80%,
  90% {
    stroke: #feb960;
  }
}
@-moz-keyframes color {
  100%,
  0% {
    stroke: #fc5f45;
  }
  40% {
    stroke: #b27cf5;
  }
  66% {
    stroke: #38c695;
  }
  80%,
  90% {
    stroke: #feb960;
  }
}
/*
|
| NAVBAR
|
*/
.navbar-default {
  background-color: #1c93e5;
  border-color: transparent;
  color: #ffffff;
  border-radius: 0;
  margin-bottom: 0;
  padding: 15px 0;
  z-index: 99;
}
.navbar-default .navbar-nav li {
  margin: auto 15px;
}
.navbar-default .navbar-nav li a {
  color: #ffffff;
  font-family: Roboto Slab, 'Montserrat', sans-serif;
  padding: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  padding-left: 0;
  padding-right: 0;
}
.navbar-default .navbar-nav li:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 3px;
  left: 0;
  background-color: transparent !important;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-default .navbar-nav li:hover {
  color: #ffffff;
  background: none;
}

.navbar-default .navbar-nav li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #ffffff;
}
.navbar-default .navbar-nav li:focus {
  background: none;
}
.navbar-default .navbar-nav li.active {
  font-weight: bold;
}
.navbar-default .navbar-nav li.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color:#eda220 !important;
}
.navbar-default .navbar-nav li:last-child {
  margin-right: 0;
}
.navbar-brand {
  margin-top: -20px;
}
.collapse {
  display: block;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: none;
  font-weight: bold;
  color:#eda220;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color:#eda220;
}
/*
|
| HOME
|
*/
.home {
  background: url(../img/header-bg.jpg) no-repeat top;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}
.home .color-overlay {
  padding: 50px 0;
  /*padding: 200px 0;*/
}
.color-overlay {
  background: rgba(0, 0, 0, 0.2);
}
.logo img {
  float: none;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.home-content h2 {
  font-family: Roboto Slab, 'Ubuntu', sans-serif;
  font-size: 48px;
  line-height: 55px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-shadow: 0px -4px 3px rgba(0, 0, 0, 0.3) ;
  -moz-text-shadow: 0px -4px 3px rgba(0, 0, 0, 0.3) ;
  -ms-text-shadow: 0px -4px 3px rgba(0, 0, 0, 0.3) ;
  -o-text-shadow: 0px -4px 3px rgba(0, 0, 0, 0.3) ;
  text-shadow: 0px -4px 3px rgba(0, 0, 0, 0.3) ;
}
.home-content h2 span {
  color: #1c93e5;
}
.home-content p {
  margin-bottom: 25px;
  margin-top: 30px;
  padding: 0 300px;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-family: Roboto Slab, 'Open Sans', sans-serif;
  opacity: 0.9 ;
  text-align: center;
}
.button .btn:hover {
  background-color: #1c93e5;
  color: #ffffff;
  border-color: #1c93e5;
}
.button .btn-fill:hover {
  opacity: 1;
  color: #ffffff;
}
.home .container{
    padding-bottom:300px;
}
/*
|
| SERVICE
|
*/
.service {
  background-color: #ffffff;
}
.service-post {
  margin: 0 auto;
  text-align: center;
  padding: 50px 30px;
  position: relative;
  border: 5px solid transparent;
  outline: 1px solid #1c93e5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.service-post .fa {
  font-size: 48px;
  line-height: 48px;
  color: #1c93e5;
}
.service-post h3 {
  font-size: 25px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1c93e5;
  margin-bottom: 30px;
}
.service-post p {
  margin-bottom: 40px;
}
.service-post .btn {
  border: 1px solid #1c93e5;
  color: #1c93e5;
}
.service-post img {
    height:65px;
}

.service-post .btn:hover {
  background-color: #1c93e5;
  color: #ffffff;
}
.service-post:hover {
  border-color: #1c93e5;
  outline: 0px solid transparent;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
|
| FEATURE
|
*/
.feature .padding-zero {
  padding-bottom: 0;
}
.feature-item {
  overflow: hidden;
  padding: 20px 0;
  padding-bottom: 30px;
}
.feature-item h3 {
  margin-top: 0px;
}
.feature-item .feature-icon {
  position: relative;
}
.feature-item .feature-icon .icon-border {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -10px;
  left: 10px;
  border: 1px solid #1c93e5;
  z-index: -2;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  text-align: center;
}
.feature-item .feature-icon .icon-border .fa {
  font-size: 30px;
  line-height: 46px;
  color: #ffffff;
  z-index: 10;
  opacity: 0;
  margin-left: 2px;
}
.feature-item .feature-icon .icon-border-2 {
  height: 50px;
  width: 50px;
  border: 1px solid #1c93e5;
  z-index: -2;
  margin: 0 auto;
  text-align: center;
  background-color: #1c93e5;
}
.feature-item .feature-icon .icon-border-2 .fa {
  font-size: 30px;
  line-height: 50px;
  color: #ffffff;
  z-index: 10;
  opacity: 1;
}
.feature-item:hover .feature-icon .icon-border {
  background-color: #1c93e5;
  z-index: 5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.feature-item:hover .feature-icon .icon-border .fa {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.feature-item:hover .feature-icon .icon-border-2 {
  border: 1px solid #1c93e5;
  background-color: transparent;
}
.feature-item:hover .feature-icon .icon-border-2 .fa {
  opacity: 0;
}
.social-icon ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.social-icon ul li {
  display: inline-block;
  list-style-type: none;
  margin: auto 5px;
}
.social-icon ul li a .fa {
  font-size: 30px;
  border: 1px solid #1c93e5;
  height: 50px;
  width: 50px;
  background-color: #f8f8f8;
  line-height: 50px;
  text-align: center;
  color: #1c93e5;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.social-icon ul li a .fa:hover {
  background-color: #1c93e5;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.social-icon ul li:first-child {
  margin-left: 0;
}
.social-icon ul li:last-child {
  margin-right: 0;
}
/*
|
| WHAT WE DO
|
*/
.what-we-do .section-title {
  margin-bottom: 30px;
}
.what-we-do .section-title h2 {
  text-align: left;
  margin-left: 15px;
}
.what-we-do .what-do-content p {
  margin-bottom: 20px;
}
.what-we-do .what-do-content strong {
  font-size: 18px;
  line-height: 30px;
}
.what-we-do .progress-content span {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.7;
  font-family: Roboto Slab, 'Open Sans', sans-serif;
}
.what-we-do .progress {
  height: 6px;
  margin-bottom: 30px;
  margin-top: 10px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 0px;
  -webkit-box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.19);
  box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.19);
}
.what-we-do .progress-bar {
  background-color: #1c93e5;
}
/*
|
| PORTFOLIO
|
*/
.screenshots figure:hover {
  border: 5px solid #1c93e5;
}
.screenshots figcaption i {
  border: 1px solid #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.screenshots figcaption i:hover {
  background-color: #1c93e5;
  border-color: transparent;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.portfolio-nav ul li {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}
.portfolio-nav ul li.active,
.portfolio-nav ul li:hover {
  border: 1px solid #1c93e5;
  color: #1c93e5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
|
| TEAM
|
*/
.team .section-title {
  margin-bottom: 50px;
}
.member {
  border: 5px solid transparent;
  -webkit-box-shadow: 0 0 0 1px #1c93e5;
  -moz-box-shadow: 0 0 0 1px #1c93e5;
  -o-box-shadow: 0 0 0 1px #1c93e5;
  -ms-box-shadow: 0 0 0 1px #1c93e5;
  box-shadow: 0 0 0 1px #1c93e5;
  margin: 0 auto;
  float: none;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.member img {
  margin: 0 auto;
  /*margin-top: -50px;
  -moz-margin-top: -50px;*/
  position: relative;
  z-index: 99;
  padding: 0 20px;
}
.member .member-details {
  padding: 20px;
  background-color: #f8f8f8;
  margin-left: -5px;
  margin-right: -5px;
  text-align: justify;
}
.member .member-details h3 {
  font-size: 24px;
  line-height: 39px;
  margin: 0;
  margin-top: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Roboto Slab, 'Open Sans', sans-serif;
  color: #000000;
  opacity: 0.9;
  text-align:center;
}
.member .member-details span {
    text-align: justify;

  font-size: 18px;
  line-height: 30px;
  font-family: Roboto Slab, 'Open Sans', sans-serif;
  color: #333;
}
.member .social-icon {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.member .social-icon ul {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  opacity: 1;
}
.member .social-icon ul li {
  margin-right: 5px;
}
.member .social-icon ul li a .fa {
  font-size: 22px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.member .social-icon ul li:last-child {
  margin-right: 0;
}
.member:hover {
  -webkit-box-shadow: 0 0 0 1px transparent;
  -moz-box-shadow: 0 0 0 1px transparent;
  -o-box-shadow: 0 0 0 1px transparent;
  -ms-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
  border: 5px solid #1c93e5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.member:hover .member-details {
  margin-left: 0px;
  margin-right: 0px;
}
/*
|
| BLOG
|
*/
.blog-img {
  position: relative;
}
.blog-img p {
  position: absolute;
  top: 0;
  left: 0;
}
.blog-img p span {
  background-color: #1c93e5;
  padding: 5px 10px;
  color: #ffffff;
}
.post {
  margin-bottom: 30px;
  overflow: hidden;
  background-color: #ffffff;
}
.post-content {
  margin-top: 30px;
}
.post-content h2 {
  font-size: 30px;
  line-height: 36px;
  font-family: Roboto Slab, 'Montserrat', sans-serif;
}
.post-content .like-comment {
  margin-bottom: 20px;
}
.post-content .like-comment a {
  font-size: 16px;
  line-height: 25px;
  color: #1c93e5;
  margin-right: 30px;
}
.post-content .like-comment a i {
  margin-right: 5px;
}
.post-content .like-comment a:last-child {
  margin-right: 0;
}
.post-content .btn {
  color: #1c93e5;
  margin-top: 30px;
  border: 1px solid #1c93e5;
  margin-left: 0;
  margin-bottom: 20px;
}
.post-content .btn:hover {
  background-color: #1c93e5;
  color: #ffffff;
}
/*
|
| PRICING
|
*/
.price-item {
  margin: 0 auto;
  float: none;
  text-align: center;
  border: 5px solid transparent;
  outline: 1px solid #1c93e5;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.price-item .price-tag {
  padding: 20px 30px;
}
.price-item .price-tag h4 {
  margin-bottom: 0;
  font-size: 30px;
  line-height: 34px;
  font-family: Roboto Slab, 'Montserrat', sans-serif;
}
.price-item .price-tag span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Roboto Slab, 'Open Sans', sans-serif;
}
.price-item .tag-name {
  background: #1c93e5;
  padding: 10px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 30px;
  font-family: Roboto Slab, 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
.price-item ul li {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: normal;
}
.price-item .btn {
  margin: 30px 0;
  border: 1px solid #1c93e5;
  color: #1c93e5;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.price-item .btn:hover {
  background-color: #1c93e5;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.price-item:hover {
  border: 5px solid #1c93e5;
  outline: 0px solid transparent;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.client-section {
  padding-bottom: 30px;
}
.client {
  margin-bottom: 30px;
}
.client a img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.client a img:hover {
  -webkit-box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.19);
  box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.19);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
|
| CONTACT
|
*/
.content-half {
  position: relative;
}
.container-half-left {
  left: 0;
  background-position: top right;
}
.container-half {
  position: absolute;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  width: 50%;
}
.container-half-right {
  right: 0;
  background-position: top left;
}
.cover-bg {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
.about-us {
  color: #ffffff;
  overflow: hidden;
  padding: 0 30px;
}
.about-us .section-title {
  margin-bottom: 50px;
}
.about-us .section-title h2 {
  text-align: left;
}
.about-us p {
  text-align: left;
  margin-bottom: 20px;
}
.about-us .fa{
  font-size:50px;
  color: #ffffff;
}

.contact {
  margin-top: 30px;
}
.contact-item {
  margin-bottom: 25px;
  overflow: hidden;
}
.address-details {
  padding-left: 40px;
  text-align: left;
}
.address-details span {
  font-size: 18px;
  line-height: 30px;
  font-family: Roboto Slab, 'Open Sans', sans-serif;
}
.contact-icon {
  text-align: center;
  width: 100px;
  height: 100px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.contact-icon i {
  margin: 0 auto;
  text-align: center;
  float: none;
  margin-top: 30px;
  font-size: 30px;
  line-height: 30px;
}
.footer-coloer-overlay {
  /*background: rgba(28, 147, 229, 0.4);*/
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.share-idea {
  padding: 0 30px;
}
.share-idea .section-title {
  margin-bottom: 50px;
}
.share-idea .section-title h2 {
  text-align: center;
}
.btn-form {
  text-align: right;
}
.single-form {
  width: 100%;
  display: inline-table;
}
.form-control {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  border: 0px solid;
  /*border-bottom: 1px solid;
  border-bottom-color: rgba(88, 88, 88, 0.9);*/
  box-shadow: 0 0 0 0 #fff;
  height: 55px;
  text-align: left;
  margin-bottom: 17px;
  /*padding: 0;*/
  /*background-color: transparent;*/
  font-family: Roboto Slab, 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  /*color: #f8f8f8;*/
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 10px !important;
    /*border-radius: 0 0 0 0 ;*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-control:active,
.form-control:focus {
  font-size: 14px;
  line-height: 27px;
  padding-top: 4px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  border-color: #1c93e5;
  color: rgba(0, 0, 0, 0.8);
}
.form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
}
.form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
}
.form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
}
.form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
}
.form-control:focus::-webkit-input-placeholder {
  color: #1c93e5 !important;
}
.form-control:focus:-moz-placeholder {
  color: #1c93e5 !important;
}
.form-control:focus::-moz-placeholder {
  color: #1c93e5 !important;
}
.form-control:focus:-ms-input-placeholder {
  color: #1c93e5 !important;
}
textarea {
  height: 175px !important;
  padding: 10px 0 !important;
}
.select-outer {
  position: relative;
}
.select-outer::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 15px;
  border-width: 7px 6px;
  border-style: solid;
  border-color: #ffffff transparent transparent;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
/*
|
| FOOTER
|
*/
.footer {
  margin: 0 auto;
  float: none;
  text-align: center;
}
.footer h3 {
  margin: 30px 0;
  text-transform: uppercase;
}
.footer h3 strong {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #1c93e5;
}
.footer-logo {
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
}
.footer-bottom {
  padding: 15px 0;
  margin: 0 auto;
  float: none;
  /*background-color: #1c93e5;*/
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.footer-bottom p {
  text-align: center;
  margin-bottom: 0px;
  opacity: 0.9;
}
.footer-bottom p strong {
  font-weight: 600;
  color:#eda220;
}
.footer-bottom p a {
  color: #ffffff;
  text-decoration: none;
  font-weight:normal;
  font-size:small;
  padding:5px;
}
.footer-bottom p a:hover {
  color: #eda220;
}
.footer-bottom a:active,
a:focus { 
    -moz-outline-style: none; 
    outline:none;
    outline: 0;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.full-blog-post {
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}
.full-blog-post .color-overlay {
  padding: 200px 0;
}
.full-blog-post .blog-header {
  color: #ffffff;
}
.blog-post-content .post-content h2 {
  margin-bottom: 30px;
}
.blog-post-content .post-content p {
  margin-bottom: 30px;
}
.blog-post-content .post-content h3 {
  margin-bottom: 30px;
}
blockquote {
  background: transparent;
  font-style: italic;
  border: 1px solid #f8f8f8;
}
blockquote p {
  margin-top: 20px;
}
blockquote .fa {
  font-size: 30px;
  opacity: 0.6;
  margin-right: 10px;
}
.comments P {
  margin-bottom: 30px;
}
.comments h3 {
  margin-bottom: 30px;
}
.post-comment-title {
  margin-bottom: 30px;
}
.user {
  overflow: hidden;
  background: #f8f8f8;
  padding: 10px 0;
  margin-bottom: 30px;
}
.user img {
  height: 80px;
  border-radius: 50%;
  width: 80px;
  margin: 0 auto;
  text-align-last: : center;
}
.user-data {
  margin: 0 auto;
  text-align: center;
}
.user-info a {
  float: right;
  margin-top: -20px;
  border: 1px solid #1c93e5;
  color: #1c93e5;
}
.comment-form {
  padding-bottom: 30px;
}
.btn-form .btn {
  border: 1px solid #1c93e5;
  color: #1c93e5;
}


.aligned-row {
  display: flex;
  flex-flow: row wrap;

  &::before {
    display: block;
  }
}

