@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-Black_0.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: italic;
  src: url('/fonts/Gotham condensed/GothamCond-BlackItalic_1.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Gotham condensed/GothamCond-Bold_1.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Gotham condensed/GothamCond-BoldItalic_1.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-Book_1.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-BookItalic_1.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-Light_1.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-LightItalic_1.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-Medium_1.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-MediumItalic_3.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-Thin_3.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-ThinItalic_3.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-Ultra_3.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-UltraItalic_3.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-XBlack_3.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-XBlackItalic_3.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-XLight_3.otf')  format('opentype');
}
@font-face {
  font-family: 'Gotham Condensed';
  font-style: normal;
  src: url('/fonts/Gotham condensed/GothamCond-XLightItalic_3.otf')  format('opentype');
}

/* cyrillic-ext 
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v15/ty9dfvLAziwdqQ2dHoyjphTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
    */
