/* --------------------------------------
=========================================
AppStar  - App Landing Page
Version: 1.0
Designed By: Md Habib Ullah
=========================================
-----------------------------------------

1.  RESET-CSS with menu

2.  Section title style

3.  About Section style

4.  Feature Section style

5.  Explain Section style

6.  Screenshots Section style

7.  Testimonial Section style

8.  Plan Section style

9. Footer with Download style

10. Contact Pop-up style

-----------------------------------------*/


/*** 

====================================================================
    1. RESET-CSS with menu
====================================================================

***/

body,
html {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none !important;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.no-margin {
    margin: 0;
}

.element-to-animate {
    opacity: 1;
}

a:focus {
    outline: 0;
}

.no-btm-padding {
    padding-bottom: 0!important;
}

.no-top-padding {
    padding-top: 0!important;
}

.overflow-hidden {
    overflow: hidden!important;
}

.carousel-wrapper .owl-carousel .owl-stage-outer,
.progress {
    overflow: visible;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100000;
}

.spinner-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    text-align: center;
}

.preloader-text {
    line-height: 1;
    font-size: 13px;
    color: #3a363b;
    display: block;
    text-align: center;
}

.spinner {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 auto 5px;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
}

.clear {
    clear: both;
}

button::-moz-focus-inner { border: 0 !important; }

.error,
.valid {
    margin-bottom: 10px;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
    /*mane style*/
}

.navbar-inverse .navbar-nav>li>a,
.navbar-transparent.top-nav-collapse .navbar-nav>li>a
{
    /*color: #9c9da0;*/
    color: #fff;
}
body {
    /*color: #9c9da0;*/
}

.navbar-default .navbar-toggle {
    border-color: rgba(0, 0, 0, .05);
}

.navbar-inverse .navbar-toggle,
.navbar-transparent .navbar-toggle {
    border-color: rgba(255, 255, 255, .05);
}

.dark-bg,
.navbar-default .navbar-toggle .icon-bar {
    background-color: #3a363b;
}

.go-top,
.main-banner.color-bg .btn-wrap .btn,
.main-banner.color-overlay .btn-wrap .btn,
.progress-bar {
    background-color: #eda220;
}

.team-wrap .member .social-links li a:hover i,
.testimonial .star-rating li>i {
    color: #eda220;
}

.navbar-default .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:focus,
.navbar-transparent .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    border-color: #3a363b;
    background-color: #3a363b;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-transparent .navbar-toggle:hover {
    border-color: #fff;
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-transparent .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-transparent .navbar-toggle:hover .icon-bar {
    background-color: #3a363b;
}

.navbar-default .navbar-nav>li>a {
    color: #b7b1b8;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-transparent .navbar-nav>li>a {
    color: #fff;
}

.btn-primary,
.color-bg,
.color-overlay:after,
.contact-info,
.ft-social ul li a:hover,
.icon-box .box-header i,
.navbar-nav>li>a.dwn-btn,
.spinner,
.team-wrap .member {
    background-color: #eda220;
}

.icon-box .box-header i {
    border: 6px solid #eda220;
}

.icon-box:hover .box-header i {
    box-shadow: 0 0 0 2px #eda220;
}

.navbar .navbar-nav>li>a.dwn-btn:hover {
    background-color: #4e4a4f;
}

.carousel-wrapper .owl-carousel .owl-nav,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.jumbotron .h1,
.jumbotron h1,
.jumbotron p,
.lead,
.navbar-default .navbar-nav>li>a:hover,
.play-btn i,
.pro-plan .plan-type,
.progress-bar,
.strong,
.subscription-form .form-control,
.subscription-form .form-group .btn i,
a,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: #333;
}

.icon-list li>i:first-child,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-transparent .navbar-nav>.active>a,
.navbar-transparent .navbar-nav>li>a:hover,
.play-btn:focus,
.play-btn:hover,
.play-btn:hover i,
.pricing-table .plan-price,
.pricing-table .plan-price>strong,
.subscription-form .form-group>.btn:focus,
.subscription-form .form-group>.btn:hover,
.subscription-form .form-group>.btn:hover i,
a:hover {
    color: #eda220;
}

.form-group .form-control:focus {
    border-color: #eda220;
}

.navbar-default .navbar-nav>li>a.dwn-btn:hover,
.navbar-transparent .navbar-nav>li>a.dwn-btn:hover,
.navbar-transparent.top-nav-collapse .navbar-nav>li.active>a,
.navbar-transparent.top-nav-collapse .navbar-nav>li>a.dwn-btn,
.navbar-transparent.top-nav-collapse .navbar-nav>li>a:hover {
    color: #eda220;
}

.navbar-transparent.top-nav-collapse .navbar-nav li:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 3px;
    left: 0;
    background-color: #eda220;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.navbar-transparent.top-nav-collapse .navbar-nav li.active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #eda220;
}


.navbar-inverse,
.navbar-transparent,
.navbar-transparent.top-nav-collapse,
.top-nav-collapse {
    background-color: #403c41;
}

.btn:focus,
.btn:hover,
.main-banner.color-bg .btn-wrap .btn:focus,
.main-banner.color-bg .btn-wrap .btn:hover,
.main-banner.color-overlay .btn-wrap .btn:focus,
.main-banner.color-overlay .btn-wrap .btn:hover {
    background-color: #464247;
}

.contact-pop-up {
    cursor: pointer;
}

.gray-bg {
    background-color: #f7f8fb;
}

.lite-plan .footer .btn {
    box-shadow: 0 0 0 2px #eda220 inset;
    color: #eda220;
    background-color: transparent;
}

.lite-plan .footer .btn:focus,
.lite-plan .footer .btn:hover {
    color: #fff;
    background-color: #eda220;
}

.text-primary {
    color: #eda220!important;
}

.text-success {
    color: #3de397!important;
}

.text-info {
    color: #3da3e3!important;
}

.text-warning {
    color: #e3aa3d!important;
}

.text-danger {
    color: #e33d3d!important;
}

body {
    font-family: Roboto Slab, sans-serif;
    font-size: 15px;
    line-height: 1.7;
}

.alt-font {
    font-family: serif;
}

p {
    margin-bottom: 20px;
}

.lead {
    margin-bottom: 12px;
}

.h1,
.h2,
h1,
h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.h1,
h1 {
    font-weight: 100;
}

.h2,
h2 {
    font-weight: 300;
}

.h3,
h3 {
    font-size: 21px;
    font-weight: 500;
}

@media (min-width:380px) {
    .h1,
    h1 {
        font-size: 38px;
        font-weight: 100;
    }
    .h2,
    h2 {
        font-size: 36px;
        font-weight: 300;
    }
    .h3,
    h3 {
        font-size: 28px;
        font-weight: 500;
    }
}

@media (min-width:768px) {
    .h1,
    h1 {
        font-size: 38px;
        font-weight: 100;
    }
    .h2,
    h2 {
        font-size: 36px;
        font-weight: 300;
    }
    .h3,
    h3 {
        font-size: 28px;
        font-weight: 500;
    }
}

@media (min-width:990px) {
    .h1,
    h1 {
        font-size: 48px;
        font-weight: 100;
    }
    .h2,
    h2 {
        font-size: 45px;
        font-weight: 300;
    }
    .h3,
    h3 {
        font-size: 28px;
        font-weight: 500;
    }
}

@media (min-width:1200px) {
    .h1,
    .h2,
    h1,
    h2 {
        font-weight: 100;
    }
    .h1,
    h1 {
        font-size: 68px;
    }
    .h2,
    h2 {
        font-size: 45px;
    }
}

.h4,
h4 {
    font-size: 19px;
    font-weight: 700;
}

.h5,
.h6,
h5,
h6 {
    font-size: 15px;
    font-weight: 700;
}

.jumbotron p,
.lead {
    font-size: 19px;
    font-weight: 500;
}

.navbar .logo img {
    height: 100%;
    width: auto;
}

.navbar .navbar-brand,
.navbar.top-nav-collapse .navbar-brand {
    height: 50px;
    /*padding: 12px 15px;*/
    margin-top: 5px;
}

.navbar .navbar-brand {
    -webkit-transition: all .4s;
    transition: all .4s;
}

.nav>li a {
    font-size: 12px;
    font-weight: 500;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.navbar-nav>li>a.dwn-btn {
    padding: 8px 15px;
    color: #fff;
    border-radius: 3px;
    margin: 15px 15px 5px;
    text-align: center;
    -webkit-transition: all .6s;
    transition: all .6s;
}

.nav>li>a:focus,
.nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-transparent .navbar-nav>li>a:hover {
    background-color: transparent;
}

.navbar-default,
.play-btn {
    background-color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form,
.navbar-fixed-top,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border: 0;
}

.navbar-inverse .navbar-collapse .nav li,
.navbar-transparent .navbar-collapse .nav li {
    border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.navbar-default .navbar-collapse .nav li {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.navbar-default .navbar-collapse .nav li:last-child,
.navbar-inverse .navbar-collapse .nav li:last-child,
.navbar-transparent .navbar-collapse .nav li:last-child {
    border-bottom: 0;
}

.navbar-collapse {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05);
}

.navbar-toggle {
    padding: 7px 8px;
    border-radius: 3px;
}


/*Button*/

.a-btn {
    border: 2px solid #fff;
    font-size: 15px;
    /*font-weight: bold;*/
    letter-spacing: -.3px;
    color: #fff;
    padding: 8px 20px 8px 6px;
    display: inline-block;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border-radius: 40px 40px;
}

.a-btn i {
    background-color: #fff;
    color: #eda220;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 20px 20px;
}

.tooltip .tooltip-inner {
    border-radius: 0;
    padding: 8px 13px;
}

.parallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.bg-opacity-layer {
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 118, 167, 0.7));
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 118, 167, 0.7));
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.main-banner {
    padding: 100px 0 0;
    text-align: center;
}

.main-banner .banner-text {
    margin-bottom: 80px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.btn-wrap {
    margin-bottom: 10px;
    margin-top:30px;
}

.btn-wrap .a-btn {
    margin: 0 5px;
}


#alertmodal .btn:hover{
    background-color: #fff;
    color: #eda220;
}

.main-banner .banner-text img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius:5px;
}
.main-banner .banner-text img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.main-banner .banner-text a {
    display: inline-block;
    border-radius: 50px;
    transition: all 0.4s;
}



/*** 

====================================================================
    2. Section title style
====================================================================

***/

section {
    padding-bottom: 80px;
}

.section-title-old {
    min-height: 460px;
    background: -webkit-linear-gradient( rgba(237, 162, 32, 0.9), rgba(237, 162, 32, 0.7));
    background: linear-gradient( rgba(237, 162, 32, 0.9), rgba(237, 162, 32, 0.7));
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    overflow: hidden;
}
.section-title {
    min-height: 280px;
    background: -webkit-linear-gradient( rgba(237, 162, 32, 0.9), rgba(237, 162, 32, 0.7)), url(../img/section-2.png) 50% 0 repeat fixed;
    background: linear-gradient( rgba(237, 162, 32, 0.9), rgba(237, 162, 32, 0.7)), url(../img/section-2.png) 50% 0 repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    overflow: hidden;
    padding-top:50px;
}

.section-title img {
    padding: 0px;
}

.section-title h2 {
    padding-top: 15px;
    color: #fff;
    margin-bottom: 0;
}

.section-title p {
    max-width: 600px;
    margin: 0 auto;
}

#app-star-plan-section {
    padding-bottom: 90px;
}

#app-star-feature-section {
    padding-bottom: 70px;
}

.app-star-feature-details-section {
    padding-bottom: 70px;
    padding-top: 50px;
}

@media (max-width: 767px) {
    section {
        padding-bottom: 40px;
    }
    .section-title {
        min-height: 260px;
    }
    .section-title h2 {
        padding-top: 30px;
    }
    #app-star-feature-section {
        padding-bottom: 20px;
    }
    .app-star-feature-details-section {
        padding-bottom: 70px;
    }
    #app-star-plan-section {
        padding-bottom: 50px;
    }
    .about-app {
        margin: 40px 0 50px;
    }
}

.Feature-EMERGENCYMEDICALSERVICES
{
    background-image: url(../img/fea-1.png);
    width:25px;
    height:25px;
}

/*** 

====================================================================
    3. About style
====================================================================

***/

.phone-mockup.about-style {
    position: relative;
    z-index: 100;
    text-align: center;
    background: #fff;
    border-radius: 100% 100% 0 0;
    margin-top: 40px;
}

.phone-mockup.about-style img {
    margin-top: -40px;
    max-width: 100%;
    height: auto;
}

.main-banner .banner-text h1,
.main-banner .banner-text p,
.main-banner .banner-text small  {
    color: #fff;
}

.about-app {
    text-align: left;
    margin-top: 50px;
}

.about-app span {
    border-bottom: 2px solid #eda220;
    padding-top: 35px;
}

@media (max-width: 767px) {
    .bg-opacity-layer {
        background: -webkit-linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 118, 167, 0.7));
        background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 118, 167, 0.7));
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    #app-star-home-section .row {
        z-index: 3;
        position: relative;
    }
    .jumbotron p,
    .lead {
        padding-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .banner-text h1 {
        height: 155px;
    }
    .banner-text span {
        display: block;
    }
}

@media (max-width: 479px) {
    .banner-text h1 {
        height: 120px;
    }
    .btn-wrap .a-btn {
        margin: 20px 0 0;
    }
}

@media (min-width:768px) {
    .navbar,
    .navbar-default .navbar-collapse .nav li,
    .navbar-inverse .navbar-collapse .nav li,
    .navbar-transparent .navbar-collapse .nav li {
        border-bottom: 0;
    }
    .pull-right-custom {
        float: right;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 14px;
    }
    .navbar {
        padding: 25px 0;
        letter-spacing: 1px;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-right {
        margin-right: 0;
    }
    .top-nav-collapse {
        padding: 0;
    }
    .navbar-nav>li>a.dwn-btn {
        margin: 7px 0 0;
    }
    .navbar .navbar-brand {
        /*padding: 4px 15px;*/
        padding: 0px;
    }
    .navbar-collapse {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-transparent {
        background-color: transparent;
    }
    .main-banner {
        text-align: left;
        padding: 160px 0 0;
    }
    .main-banner .banner-text h1 {
        margin: 30px 0 20px;
    }
    .main-banner .banner-text p.lead {
        margin-bottom: 20px;
    }
    .main-banner .banner-text {
        max-width: none;
    }
    .element-to-animate {
        opacity: 0;
    }
    .pricing-table {
        width: 260px;
    }
}

@media (min-width:1200px) {
    .nav>li>a {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-banner .banner-text h1 {
        margin: 70px 0 20px;
    }
    .main-banner .banner-text p.lead {
        margin-bottom: 40px;
    }
    .section .section-header {
        margin: 0 auto 60px;
    }
    .nav>li a {
        font-size: 14px;
    }
}


}
@media (max-width:480px) {
    .hidden-xxs {
        display: none;
    }
    
    .main-banner .btn-wrap {
        display: block;
        margin: 30px auto;
    }
    
    .btm-line {
        display: block;
        margin: 0 auto;
        max-width: 70%
    }
}

@media only screen and (min-width:768px) and (max-width: 991px)  {
    .about-app {
        margin-bottom: 90px;
    }
}


/*** 

====================================================================
    4. Feature section
====================================================================

***/
#section-features .container {
    padding-top: 60px;
    background: #fff;
    margin-top: -100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.single-feature-bottom {
    margin-bottom: 50px;
}
.single-feature .heading {
    margin-bottom: 20px;
    position: relative;
    min-height:55px;
}
.single-feature .heading .icon {
    position: absolute;
    font-size: 25px;
    color: #eda220;
    margin-top: -6px;
}
.single-feature .heading .title {
    display: block;
    /*border-left: 1px solid #e2e2e2;*/
    padding-left: 15px;
    margin-left: 80px;
    font-size: 16px;
    letter-spacing: 0.4px;
    vertical-align: middle;
    min-height:35px;
    padding-top:20px;
}

.single-feature .heading .icon img{
    width:100px;
}

.single-feature .heading .title a{
}

.single-feature p a{
    color:#eda220;
}

.single-feature p a :hover {
    font-weight:bold;
    text-decoration:underline !important;
}

.single-feature .feature-desk {
    width: 100%;
    padding: 30px 0;
}
.feature-desk .title {
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 20px;
}
.it-awesome-img {
    margin-bottom: 60px;
}

/*** feature DETAILS ***/
.feature-details {
    margin-bottom: 70px;
}
.feature-details .full-width {
    margin-bottom: 55px;
}
.feature-details .feature-desk .title {
    font-size: 24px;
    margin-bottom: 30px;
}
.feature-details .feature-desk p {
    margin-bottom: 25px;
}

@media only screen and (min-width:768px) and (max-width: 991px)  {
    .last-it{
        margin-top:30px;
    }
}

@media screen and (max-width: 767px) {
    .single-feature-bottom {
        margin-bottom: 0px;
    }
    
    .single-feature {
        margin-bottom: 40px;
    }
}

/*** 

====================================================================
   5. Explain section
====================================================================

***/
.app-explain .container {
    padding-top: 60px;
    background: #fff;
    margin-top: -100px;
}
.app-explain h3 {
    margin-bottom: 30px;
    font-size: 22px;
}
.app-explain .phone-image {
    margin: auto;
    max-width: 480px;
}
.app-explain .phone-image img {
    width: 100%;
}
.app-explain .left-align {
    text-align: left;
}
.app-explain .left-align p {
    display: block;
    float: none;
}
.app-explain .left-align .feature-list {
    margin-top: 20px;
    padding-left: 0;
}
.app-explain .left-align .feature-list li {
    margin-bottom: 17px;
    list-style: none;
}
.app-explain .left-align .feature-list li i {
    margin-right: 10px;
    vertical-align: inherit;
    color: #eda220;
}

/*** 

====================================================================
    6. Screenshot section
====================================================================

***/
#applan-screenshot-section {
    padding-bottom: 80px;
}
.app-screenshot .container {
    padding-top: 60px;
    background: #fff;
    margin-top: -100px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px #000;
}
.app-screenshot .shot {
    background: #F7F8FA;
    padding: 10px;
    margin: 0 13px 13px 13px;
    border-radius: 4px;
    box-shadow: none;
    display: block;
}
.app-screenshot img {
    border-radius: 4px;
    width: 100%;
}
.app-screenshot img:hover {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}


.multi-item-carousel .carousel-inner > .item {
  -webkit-transition: 500ms ease-in-out left;
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -25%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 25%;
}
.multi-item-carousel .carousel-inner .next {
  left: 25%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -25%;
}
.multi-item-carousel .carousel-inner .col-xs-3 {
  padding-left:5px;
  padding-right:5px;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 0ms ease-in-out all;
    transition: 0ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}

@media all {
    .multi-item-carousel .carousel-inner > .item.next {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
    }
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

.multi-item-carousel .carousel-inner .item img
{
    /*padding:50px;*/
    border: 1px solid rgba(0,0,0,.1);
}

.carousel-control{
    width:10% !important;
}
/*** 

====================================================================
    7. Testimonial section
====================================================================

***/
/*** 

====================================================================
    8. App plans section
====================================================================

***/
.app-plans .container {
    padding-top: 60px;
    background: #fff;
    margin-top: -100px;
}
.bond-price-table .bond-price-inner {
    padding: 45px 30px 48px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ddd;
}
.bg-ff {
    background-color: #fff;
}
.bond-price-table .bond-price-inner .box-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 32px;
    letter-spacing: 1.7px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.bond-price-table .bond-price-inner .price {
    font-size: 14px;
    color: #fff;
    padding: 28px 0 12px;
    background: #eda220;
    width: 100%;
    margin-bottom: 29px;
}
.bond-price-table .bond-price-inner .price span {
    font-size: 36px;
    line-height: 24px;
    letter-spacing: 2.7px;
    margin-bottom: 15px;
    display: block;
    margin-bottom: 15px;
}
.bond-price-table .bond-price-inner .content {
    line-height: 24px;
    margin-bottom: 28px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.bond-price-table:hover .bond-price-inner {
    background: #eda220;
}
.bond-price-table:hover .bond-price-inner .box-title {
    color: #fff;
}
.bond-price-table:hover .bond-price-inner .price {
    font-weight: bold;
    color: #eda220;
    background: #fff;
}
.bond-price-table:hover .bond-price-inner .content {
    color: #fff;
}
.btn-plan-sing {
    font-weight: bold;
    color: #eda220;
    border: 2px solid #eda220;
}
.bond-price-table:hover .btn-plan-sing {
    border: 2px solid #fff;
    color: #fff;
}

/*** 

====================================================================
    9. Footer style
====================================================================

***/
.footer-st-25 {
    padding: 125px 0 0px;
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url(../img/footer-bg3_1.png) 50% 0 repeat fixed;
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url(../img/footer-bg3_1.png) 50% 0 repeat fixed;
    /*background: url(../img/footer-bg3.png) 50% no-repeat; */
    background-size: cover;
    background-attachment: fixed;
}
.download-btns {
    margin-bottom: 20px;
}
.download-btns img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.download-btns img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.download-btns a {
    display: inline-block;
    margin: 0px 15px 15px;
    border-radius: 4px;
    transition: all 0.4s;
}
.section-subscribe {
    padding-top: 15px;
    padding-bottom: 15px;
}
.section-subscribe-st-25 h2,
.download-content-inner h2 {
    font-size: 26px;
    color: #fff;
    margin: 0 0 15px;
}
.download-content-inner P {
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    padding-bottom: 40px;
}
.section-subscribe-st-25 p {
    color: #fff;
    margin-bottom: 5px;
}
.subscribe-form-inner .form-inline {
    margin-top: 10px;
}
.section-subscribe-st-25 .form-group {
    position: relative;
}
.section-subscribe-st-25 .form-control {
    width: 570px !important;
    color: #e3e3e3;
    padding: 0 140px 0 20px;
    font-family: 'lora';
    background-color: transparent;
    border-color: #fff;
    border-radius: 10px;
}
.subscribe-form-inner .form-control {
    width: 400px;
    height: 50px;
    margin-right: 6px;
}
.subscribe-form .subscribe-new-button{
    margin-bottom:10px;
}
.section-subscribe-st-25 .btn {
    font-weight: normal;
    /*position: absolute;*/
    right: 0;
    top: 0;
    box-shadow: none;
    line-height: 50px;
    border-radius: 10px;
    /*background-color: #fff;*/
    color: #ff395f;
    margin-bottom:10px;
}
.btn-24 {
    background-color: #82b441;
    color: #fff;
    line-height: 56px;
    padding: 0 40px;
    font-size: 13px;
    -webkit-box-shadow: 4px 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: 4px 5px rgba(0, 0, 0, .1);
    box-shadow: 4px 5px rgba(0, 0, 0, .1);
}
#contact_results {
    clear: both;
    text-align: center;
    padding-top: 20px;
}
.social-icon {
    margin: 50px 0 0;
    padding: 0;
}
.footer-st-25 .social-icon li,
.footer-st-25 .social-icon li a {
    width: 54px;
    height: 54px;
}
.social-icon li {
    display: inline-block;
    width: 37px;
    height: 37px;
}
.footer-st-25 .social-icon li,
.footer-st-25 .social-icon li a {
    width: 54px;
    height: 54px;
}
.social-rounded li a {
    width: 37px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
}
.social-icon li a {
    float: left;
}
.footer-st-25 .social-icon li .fa {
    font-size: 24px;
    line-height: 54px;
    color: #fff;
}
.footer-st-25 .copyright {
    margin-top: 45px;
}
.footer-st-25 .copyright p,
.footer-st-25 .copyright p a {
    font-size: 16px;
    color: #fff;
}
.footer-st-25 .copyright p,
.footer-st-25 .copyright p a {
    font-size: 16px;
    color: #fff;
}

.footer-st-25 .copyright strong {
    color:#eda220;
}

.footer-terms {
    background-color: #403c41;
}
.footer-terms a
{
  color: #ffffff;
  text-decoration: none;
  font-size:small;
  font-weight:normal;
  font-size:small;
  padding:5px;
}

.footer-terms a:hover
{
  color: #eda220;
  text-decoration: underline;
}

@media (max-width: 667px) {
    .section-subscribe-st-25 .form-control {
        max-width: 570px !important;
        width: 100% !important;
    }
    
    .subscribe-form-inner .form-control {
        max-width: 400px;
    }
    
    .download-btns {
        margin-bottom: 0px;
    }
    
    .social-icon {
        margin: 0px;
    }
    
    .footer-st-25 .copyright {
        margin-top: 5px;
    }
    
    .section-subscribe-st-25 h2,
    .download-content-inner h2 {
        font-size: 30px;
    }
}
@media (max-width: 479px) {
    .section-subscribe-st-25 h2,
    .download-content-inner h2 {
        font-size: 28px;
    }
    .footer-st-25 .social-icon li, .footer-st-25 .social-icon li a {
      width: 51px;
      height: 51px;
    }
}
.contact-rounded{
    list-style-type: none;
    color:white;
}
.contact-rounded a{
    color:white;
}
/*** 

====================================================================
    10. Contact style 
====================================================================

***/
.contact-section {
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 71, 134, 0.7));
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 71, 134, 0.7));
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.submit-btn-bottom-text {
    color: #ddd;
    font-size: 14px;
    padding: 0 10px;
    margin-top: -33px;
}
.semitrans h2 {
    color: #fff !important;
    font-size: 30px;
    margin-top: 0;
    font-weight: bold !important;
}
.semitrans.section-signup .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    background-image: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 12px !important;
}
.semitrans.section-signup .has-icon-left:before {
    background-color: rgba(255, 255, 255, 0.5);
}
.semitrans.section-signup .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.semitrans.section-signup .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1) !important;
}
.semitrans.section-signup .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1) !important;
}
.section-signup .contact-btn {
    max-width: 100%;
    margin-bottom: 17px;
    background: none;
}
.section-signup .contact-btn:hover {
    color: #eda220;
}
.section-signup .label {
    padding: .35em .85em;
    margin-bottom: 8px;
    margin-bottom: 8px;
    margin-bottom: .5rem;
    font-size: 13px;
    font-size: 13px;
    font-size: .8125rem;
    font-weight: 600;
    line-height: 1.1538;
    border-radius: 2.5rem
}
.section-signup .label span {
    margin-right: 2.4px;
    margin-right: 2.4px;
    margin-right: .15rem;
    font-size: 16px;
    vertical-align: text-top
}
.section-signup .label-default {
    padding-right: 0;
    padding-left: 0;
    margin-right: 8px;
    margin-right: 8px;
    margin-right: .5rem;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent
}
.section-signup .form-group {
    margin-bottom: 1.875rem width: 100%;
    text-align: center;
}
.section-signup .has-icon-left {
    position: relative
}
.section-signup .has-icon-left:before {
    position: absolute;
    top: 14px;
    left: 48px;
    width: 1px;
    height: 29px;
    height: 29px;
    height: 1.8125rem;
    content: '';
    background-color: #ededef
}
.section-signup .has-icon-left:after {
    position: absolute;
    top: 11px;
    left: 16px;
    z-index: 1;
    width: 30px;
    height: 30px;
    content: '';
    background-repeat: no-repeat;
    background-position: 5% center
}
.section-signup .has-icon-left .form-control {
    padding-left: 60px
}
.section-signup .form-control-name:after {
    background-image: url(../img/icons/name.png);
}
.section-signup .form-control-email:after {
    background-image: url(../img/icons/email.png);
}
.section-signup .form-control-phone:after {
    background-image: url(../img/icons/phone.png);
}
.section-signup .form-control-address:after {
    
}
.section-signup .form-control-message:after {
    background-image: url(../img/icons/message.png);
}
.section-signup .home-textarea {
    height: 150px !important;
    padding-top: 10px !important;
}
.section-signup .form-control-lg {
    font-size: 16px;
    font-size: 16px;
    font-size: 1rem;
}
.section-signup .form-control {
    border-width: 1px;
}
.section-signup .form-control-lg {
    border-radius: 0.3rem;
    font-size: 20px;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    padding: 12px 20px;
    padding: 12px 20px;
    padding: 0.75rem 1.25rem;
}
.section-signup .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #e0e0e5;
    border-radius: 0;
    color: #424753;
    display: block;
    font-size: 13px !important;
    line-height: 2;
    height: 50px;
    padding: 6.16px 12px;
    padding: 6.16px 12px;
    padding: 0.385rem 0.75rem;
    box-shadow: none !important;
    width: 100%;
}
.section-signup .btn {
    margin-top: 0.3px;
    height: 48px;
}
.section-signup .form-control:focus {
    box-shadow: 0 0 4px rgba(135, 121, 189, 0.53)
}
.section-signup .form-control:focus+span {
    color: #6c59b4
}
.section-signup .form-control-lg {
    font-size: 16px;
    font-size: 16px;
    font-size: 1rem
}
.section-signup .btn-block {
    padding-right: 0;
    padding-left: 0
}


/* modified or added styles */

.subscribe-new{
    background: transparent none repeat scroll 0 0 !important;
    /*border: 1px solid #d32f2e !important;*/
    color: #fff !important;
    min-height: 50px !important;
    padding: 0 10px !important;
    max-width: 340px;
    width: 100%;
    border-radius:4px !important;
    margin-bottom:10px;
}

.subscribe-new-button{
    background: transparent none repeat scroll 0 0 !important;
    /*font-size: 0;*/
    height: 50px;
    margin-left: 5px;
    width: 100px;
    background-color:none !important;
    border: 1px solid white !important;
    color:white !important;
    font-weight:bold;
    line-height:40px !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
}


/* end modified or added styles */


#toast-container>.toast-success{
    background-image:none !important;
    background-color:#403c41;
}
#toast-container>div{
    padding:15px;
}

.toast-message .btn {
    display:none;
}

#membersite {
    width:500px;
    padding:20px;
    margin:20px;
    border-radius:5px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.7);
}

#membersite .btn {
    border:none;
}
.loginrow {
    padding-bottom:20px;
}

#membersite .loginError {
    min-height:25px;
}

#settingsDiv {
    padding-left:20px;
    padding-right:20px;
    margin-left:20px;
    margin-right:20px;
    border-radius:5px;
}

#settingsDiv .panel .row{
    margin-bottom:20px;
}
#settingsDiv .btn {
    border:none;
}

#addmodal .modal-content img{
    margin-top:20px;
}

/*

.generalModal .modalPCounter ol { counter-reset: item }
.generalModal .modalPCounter li { display: block }
.generalModal .modalPCounter li:before { content: counters(item, ".") " "; counter-increment: item }
*/
#jarallax-container-0 {
    clip: rect(0px 1349px 1221px 0);
    clip: rect(0px, 1349px, 1221px, 0);
}


