﻿body {
}

.h2, h2{
    font-size: 30px;
}

#membersite {
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.section-separator {
    padding:0px;
}
.section-title {
    margin-bottom: 0px;
}
.section-title .row {
    margin-bottom: 0px;
    margin-top: 0px;
}

.section-title h2{
    margin-bottom:0px;
}
.loginrow {
    padding-bottom: 20px;
}

.loginrow input{
    background-color:transparent;
    border-radius:5px;
    border:1px solid #ccc;
}

.btn {
    color:#337ab7;
    border-radius:5px;
}

.btn-primary {
    background-color:#337ab7 !important;
    border-color: #2e6da4;
    margin:0px;
    color:white;
}

#profile input{
    background-color:transparent;
    border-radius:5px;
    border:1px solid #ccc;
}

.row{
    margin-bottom:15px;
    margin-top:15px;
}

#modalAddJob input{
    background-color:transparent;
    border-radius:5px;
    border:1px solid #ccc;
}
#modalAddJob select{
    background-color:transparent;
    border-radius:5px;
    border:1px solid #ccc;
    height:55px;
}

#modalAddJob .modal-body{
    padding:10px;
}
#modalAddJob .modal-body .row{
    margin-top:0px;
    margin-bottom:0px;
}
#modalAddJob .modal-body .btn{
    font-size: 14px;
    width:150px;
    line-height:25px;
}

.form-control {
    font-size:14px !important;
    height:35px;
}

textarea {
    background-color:transparent !important;
    border-radius:5px !important;
    border:1px solid #ccc !important;
}
